/*-----FINAL ORDER PAGE-------*/
.summary {
  font-size:85%;
}

@media(max-width: 991px){
  .summary{
    font-size: 75%;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#order-title {
	text-align: center;
}

.breadcrumb {
  background-color: white;
}

.thanks{
  margin: 0 auto;
}

.items ul{
  list-style: none;
}

/*-----PROFILE PAGE-------*/
.profile-heading{
  padding-left:1em;
}

.profile-info{
  padding-left: 2em;
  font-size: 80%;
}

.profile-details{
  text-align:center;
}

.icon-large{
  font-size:800%;
}

/*-----ORDER PANEL-------*/
.panel > .panel-heading {
    background-image: none;
    background-color: #7cbde8;
    color: white;
    font-size:80%;
}

.panel-heading a{
  color: white;
}

.shipping-information p{
  text-transform: uppercase;
}

.panel-body {
  font-size:80%;
  padding:1em 0;
}

.title{
  text-decoration: underline;
}
.panel-body ul {
  list-style: none;
}


