#shipping-row h3 {
	display: inline-block;
	color:rgb(113, 124, 125);
}

#order-column {
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}

#checkout-title {
	text-align: center;
}

#order-summary h3 {
	display: inline-block;
	color:rgb(113, 124, 125);
}


#discount-section .btn {
	margin-top: 10px;
}

#payment-column {
	border-top: 1px solid #eee;
}


#payment-column h3 {
	color:rgb(113, 124, 125);
}

#cart-block h4 {
	color: rgb(0, 58, 112);
}

#shipping-block h4 {
	color: rgb(0, 58, 112);
}

#order-button {
	width:100%;
}

.hidden {
	display:none;
}