/*-------NAVABAR----------*/
nav .navbar .navbar-default {
	display:none;
}

#order-column {
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}


#order-summary h3 {
	display: inline-block;
	color:rgb(113, 124, 125);
}


#discount-section .btn {
	margin-top: 10px;
}

/*--------SHARED---------*/

h4 {
	color: rgb(0, 58, 112);	
}

/*--------PAYMENT COLUMN---------*/
#payment-column {
	border-top: 1px solid #eee;
}

#payment-column h3 {
	color:rgb(113, 124, 125);
}

/*--------ITEMS AND SHIPPING COLUMN--------*/
.shipping-row p {
	font-size: 75%;
	text-transform: uppercase;
}

.shipping-row h3 {
	display: inline-block;
	color:rgb(113, 124, 125);
}

.shipping-block{
	padding-left:23px;
	font-size: 75%;
}

.shipping-block p{
	margin-bottom: 0;
}

input[type='radio']{
	margin-top: 1em;
}

.change-address {
	font-size: 60%;
    text-decoration: underline;
}

.cart-block li{
	font-size:80%;
	list-style: none;
}

/*--------ORDER SUMMARY---------*/
.ordersummary {
	font-size: 75%;
}
#order-button {
	width:100%;
}

.oldprice{
	text-decoration: line-through;
	color: red;
}
.discountprice{
	color: green;
}

