{% load staticfiles %}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h3 {
  font-weight: normal;
}


.marketing .col-lg-3 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing .row {
	margin-top: 20px;
}

.logo {
	background: white url("images/suppbuilder_logo_RGB_H.jpg") center no-repeat ;
	height: 400px;
	margin-bottom: 50px;
	position: relative;
}


.logo p{
	font-size: 18px;
	position:absolute;
    top: 90%;  
    left: 50%;
	transform: translate(-50%, -50%); 
}


.media-body h2 {
	color: #05C3DE;
}

.media-body h4 {
	color: #717C7D;
}

.page-header h1{
	color: #003A70;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#step{}
