{% load staticfiles %}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*.jumbohome {
	background: white url("images/suppbuilder.png") center;
	background-position: center;
	background-size: cover;
	height: 500px;
	width: 1282;
	margin-top: -100px
}	

.jumbohome p{
	text-align: center;
	position: relative;
	top: 363px;
	left: 38px;

}*/

.logo {
	background: white url("images/suppbuilder_logo_RGB_V.jpg") center no-repeat ;
	height: 500px;
	margin-bottom: 50px;
	position: relative;
}


.logo p{
	text-align: center;
	vertical-align: middle;
	line-height: 1025px;
	font-size: 18px;    
}