* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	background-color: white;
	color: #555;
	font-family: 'Lato', 'Arial', 'sans-serif';
	font-weight: 300;
	font-size: 20px;
	/*make fonts render perfectly*/
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix {zoom: 1} 
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------LANDING PAGE----------------- */

.welcome-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('/static/suppbuilder/images/suppbuilder_box_background.png');
	background-size:cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.welcome-text{
	margin:0 auto;
	text-align: center;
	padding-top: 20%;
}

.welcome-text h1{
	color:white;
}


/*------------- NAVAR ------------------- */
.navbar {
	margin-bottom: 0;
}
