{% extends "suppbuilder/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head %} 
<link rel="stylesheet" type="text/css" href="{% static 'suppbuilder/css/login.css' %}">
{% endblock %}
{% block body %}

<div class='container login-block'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3 '>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3>Reset Password</h3>
                    <p>Enter email to reset password</p>
                    <a href="/accounts/login"> Back to login </a>
                </div>
                <div class='panel-body'>
                    <form method="POST" action="/accounts/password/reset/" class="password_reset login">
                        {% csrf_token %}
                        <div class='form-group>'>
                        <label for="id_email">E-mail:</label> <input id="id_email" class='form-control'name="email" placeholder="E-mail address" size="30" type="email" required />
                        <input type="submit" class='btn btn-success' value="Reset My Password" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}