{% extends "suppbuilder/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head %} 
<link rel="stylesheet" type="text/css" href="{% static 'suppbuilder/signup.css' %}">
{% endblock %}
{% block body %}


<div class='container signup-block'>
  

<!-- this sign up form works as intended -->
<div class='row'>
  <div class='col-md-6 col-md-offset-3'> 
    <div class='row login-title'>
      <h3>Sign up</h3>
      <p>Already have an account?</p><a href="{{ login_url }}"> Sign in</a>
    </div>

    {% crispy form %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}


  </div>

</div>




</div>

{% endblock %}