/*------PRODUCT LINKS--------*/

.ingredient-list {
  margin-bottom:1em;
}

.ingredient-list ul {
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
    list-style: none;
}

.ingredient-list ul li a {
  font-size:90%;
  color:rgba(52, 152, 219,1.0);
}


.ingredients li.active a {
  font-weight: bold;
  text-decoration: underline;
}

.ingredient-select {
	margin: 10px;
	width: 25%;
}

.hidden{
  visibility : hidden;
}

/*--------JUMBOTRON---------*/
.jumbotron {
  background-color: white;
  padding-bottom: 0px;
}

.jumbotron h1{
  color: #3498db;
}

/*-------ITEM INFO ----------*/

.remove {
	display: none;
}

.panel-body p {
  font-size:90%;
}

.panel-body ul li{
  font-size: 80%;
}

/*--------BUTTON------------*/
.panel-body button {
  margin-top:1em;
}

/*--------SELECT------------*/
.panel-body .product-select {
  width:60%;
  margin-top: 1em;
}


/*--------RESEARCH----------*/
.research-container{
  width: 80%;
  margin-bottom: 10px;
  text-align: center;   
}

.research-container h1{
	text-align: center;
	color:rgb(132,189,0);
}

.research-container a{
	text-align: center;
	color:rgb(5,195,222);
}

.research-container h3{
	color:rgb(113,124,125);
}

.research-info{
	margin:10px;
}




