.ingredient-select {
	margin: 10px;
	width: 25%;
}

.item-size {
	color:rgb(5,195,222);
	font-size: 22px;
}

.item-price {
	color:rgb(132,189,0);
	font-size: 18px;
}

.remove {
	display: none;
}


.product-container {
	width: 70%;
	border: 1px white solid;
	margin-bottom: 10px;
}


.nav-buttons {
	width: 70%;
	margin-bottom: 10px;	
}
.caffeine-add {
	margin-bottom: 10px;
}

.caffeine-remove {
	margin-bottom: 10px;
}

#caffeine-price {
	color:rgb(132,189,0);
	font-size: 18px;
}

#caffeine-size {
	color:rgb(5,195,222);
	font-size: 22px;
}


.research-container{
	width: 50%;
	margin-bottom: 10px;		
}

.forward {
	float:right;
}

.backwards {
	float:left;
}


.research-container h1{
	text-align: center;
	color:rgb(132,189,0);
}

.research-container a{
	text-align: center;
	color:rgb(5,195,222);
}

.research-container h3{

	color:rgb(113,124,125);
}

#theanine-price {
	color:rgb(132,189,0);
	font-size: 18px;
}

#theanine-size {
	color:rgb(5,195,222);
	font-size: 22px;
}


.jumbotron {
	background-color: white;
}

.jumbotron h1{
	color: rgb(0,58,112);
}


.breadcrumb{
	background-color: white;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #F8F8F8;
    color: #05C3DE;
}


