
.ingredient-select {
	margin: 10px;
	width: 25%;
}

.item-size {
	color:rgb(5,195,222);
	font-size: 22px;
}

.item-price {
	color:rgb(132,189,0);
	font-size: 18px;
}

.remove {
	display: none;
}


.product-container {
	width: 95%;
	border: 1px white solid;
	margin-bottom: 10px;
}


.nav-buttons {
	width: 70%;
	margin-bottom: 10px;	
}
.caffeine-add {
	margin-bottom: 10px;
}

.caffeine-remove {
	margin-bottom: 10px;
}

.product-price {
	color:rgb(132,189,0);
	font-size: 18px;
}


.research-container{
	width: 80%;
	margin-bottom: 10px;
	text-align: center;		
}

.forward {
	float:right;
}

.backwards {
	float:left;
}


.research-container h1{
	text-align: center;
	color:rgb(132,189,0);
}

.research-container a{
	text-align: center;
	color:rgb(5,195,222);
}

.research-container h3{
	color:rgb(113,124,125);
}


.heading .jumbotron {
	background-color: white;
	padding-bottom: 0px;
}

.jumbotron h1{
	color: rgb(0,58,112);
}


.breadcrumb{
	background-color: white;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #F8F8F8;
    color: #05C3DE;
}

.stacks{
	text-align: center;
	margin-bottom: 50px;
}

.hidden{
	display : none;
}

.container .row .active a{
/*	color:white;*/
	font-weight: bold;
/*	background-color: #05C3DE;*/
	font-size: 16px;
	padding-left: 1px;
}

.research-info{
	margin:10px;
}

.selector{
	margin-bottom:5px;
}

.ingredient-list ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    list-style: none;
}


@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}

.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #84BD00;
  color: white;
  border-radius: 10%;
  border: 7px solid #f1f1f1;
  text-align: center;

}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

.timeline .timeline-body .research-link{
	font-size: 11px;
}

