{% extends "suppbuilder/base.html" %}
{% load static %}
{% block head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'shopping/order.css' %}">
{% endblock %}


{% block body %}

<div class='container' id='summary'>

<div class='row'>
    <ol class="breadcrumb">
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'order-summary' %}">Orders</a></li>
      <li class='active'>Order Detail</li>
    </ol>
</div>    
	<div class='row'>
		<div class='col-lg-12 page-header'>
				<h2>Order details</h2>
		</div>
	</div>
</div>



<div class='container detail'>
    <div class='panel panel-default'>
    <div class='panel-heading'>
        <h3 class='panel-title'>Order# {{order.transaction_id}}</h3>
    </div>
	<div class='panel-body'>
        <div class="col-md-12 col-sm-12">
        	<div class='row'>
        		<div class='col-md-3 col-sm-3'>
        			<h5>Delivery Address</h5>
        			<p>{{transaction.shipping_details.first_name}} {{transaction.shipping_details.last_name}}</p>
        			<p>{{transaction.shipping_details.street_address}}</p>
        			<p>{{transaction.shipping_details.locality}},
						{{transaction.shipping_details.region}}
						{{transaction.shipping_details.postal_code}} 
        			</p>
        		</div>
        		<div class='col-md-3 col-sm-3'>
        			<h5>Shipping details</h5>
        			<table class='table-condensed'>
        				<tr>
        					<td>Payment method:</td>
        					<td><img src="{{transaction.credit_card_details.image_url}}" height="21" width="34"></td>        					
        				</tr>
        				<tr>
        					<td>Card Number:</td>
        					<td>
        							****
        						{{transaction.credit_card_details.last_4}}
        					</td>
        				</tr>
        				<tr>
        					<td>Expires:</td>
        					<td>{{transaction.credit_card_details.expiration_date}}</td>
        				</tr>
        			</table>
        		</div>
        		<div class='col-md-4 col-sm-3'>
        			<h5>Order Summary</h5>
        			<table class='table-condensed'>
        				<tr>
        					<td>Item({{order.item_count}}) subtotal:</td>
        					<td> $ {{order.total}}</td>
        				</tr>
                        {% if order.discount %}
                        <tr>
                            <td>Discount code: </td>
                            <td>{{order.discount_code}}</td>
                        </tr>
                        <tr>
                            <td>Price after discount</td>
                            <td>$ {{order.discount_amount}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Shipping and Handling:</td>
                            <td>$ {{order.shipping}}</td>
                        </tr>
                        <tr>
        					<td>Tax :</td>
        					<td>$ {{order.tax}}</td>
        				</tr>
        				<tr>
        					<td>Grand Total :</td>
        					<td>$ {{order.grand_total}}</td>
        				</tr>
        			</table>
        		</div>
        	</div>
        	<div class='row'>
        		<div class='col-lg-12'>
                    <h5>Products</h5>
        			{% for product in order.product.all %}

        				<p>{{product}}
<!--         					<span>
        						<button type="button" id="{{product}}" class="btn btn-link btn-click-action"data-toggle="modal" data-target="#myModal"> Add to cart </button>
        					</span> -->
        				</p>
        			{% endfor %}
        		</div>

        	</div>
		</div> 
	</div> 
</div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{%endblock%}


{% block footer %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/JavaScript" src="{% static 'shopping/order.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
{% endblock %}
