{% extends "suppbuilder/base.html" %}
{% load static %}
{% block head %} 
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/order.css' %}">
{% endblock %}

{% block body %}

<div class='container' id='summary'>
<div class='row'>
    <ol class="breadcrumb">
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'past-orders' %}">Orders</a></li>
      <li class='active'>Order Detail</li>
    </ol>
</div>  
	<div class='row page-header'>
		<h2> Order Summary</h2>
	</div>
	<div class='row'>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <p>Order # {{order.order_id}}</p>
			  </div>
			  <div class="panel-body">
			  		<div class='col-xs-4 col-sm-2'>
			  			<p class='title'>Placed</p>
			  			<p>{{order.order_created}}</p>
			    	</div>
			  		<div class='col-xs-4 col-sm-2'>
			  			<p class='title'>Total</p>
			  			<p>$ {{order.amount}}</p>
			    	</div>
			    	<div class='col-xs-4 col-sm-2'>
			    		<p class="title">Status</p>
			    		<p>{{order.order_status}}</p>
			    		{% if order.order_status == 'Fulfilled'%}
				    		<p><strong>Tracking Information</strong></p>
				    		<ul>
				    			<li>{{order.shipping.carrier}}</li>
				    			<li>{{order.shipping.tracking_number}}</li>
				    		</ul>
			    		{% endif %}
			    	</div>
			  		<div class='col-xs-6 col-sm-3'>
			    		<p class="title">Shipping</p>
			    		<p>{{order.shipping.name}}</p>
			    		<p>{{order.shipping.address.line1}}</p>
			    		<p>{{order.shipping.address.city}}, {{order.shipping.address.state}} {{order.shipping.address.postal_code}}</p>
			    		<p>{{order.shipping.address.country}}</p>
			    	</div>
			    	<div class='col-xs-6 col-sm-3 col-md-3'>
			    		<p class="title">Items</p>
			    		<ul>
			    			{% for item in order.items %}
			    				<li>{{item}}</li>
			    			{% endfor %}
			    		</ul>
			    	</div>

			  </div>		  
			</div>
	</div>
</div>






{%endblock%}