{% extends "suppbuilder/base.html" %}
{% load static %}

{% block head %} 
	<link rel="stylesheet" type="text/css" href="{% static 'shopping/order.css' %}">
{% endblock %}


{% block body %}
<div class='container'>
	<div class="row">
		<div class='col-lg-12 page-header'>
			<h2>Profile</h2>
		</div>
	</div>

	<div class='row profile'>
		<div class='row profile-heading'>
			<div class="col-lg-12">
				<h3>Account Details <span><a class='edit-link' href="">edit</a></span></h3>
			</div>			
		</div>
		<div class='row profile-info'>
			<div class="col-lg-12">
				<p>First Name : {{user.first_name|title}}</p>
				<p>Last Name : {{user.last_name|title}}</p>
				<p>Email : {{user.email}}</p>
			</div>			
		</div>
	<div>

	<div class='row profile-details'>
        <div class="col-sm-4">
         <i class="ion-map icon-large"></i>
          <p><a href="{% url 'shipping' %}" role="button">Shipping Details</a></p>
        </div>
        <div class="col-sm-4">
          <i class="ion-cube icon-large"></i>
          <p><a href="{% url 'past-orders' %}" role="button">Past Orders</a></p>
        </div>
        <div class="col-sm-4">
          <i class="ion-social-usd-outline icon-large"></i>         
          <p><a href="" role="button">Start Earning</a></p>
        </div>
    </div>
</div>


{% endblock%}