{% extends 'suppbuilder/base.html' %}
{% load static %}

{% block head %}    
<link rel="stylesheet" type="text/css" href="{% static 'shopping/shopping.css' %}">
{% endblock %}

{% block body %}
<div class='container shipping'>
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="{% url 'profile' %}">Profile</a></li>
		  <li class='active'>Shipping</li>
		</ol>
	</div>

	<div class="row">
		<div class="page-header">
			<h1>Shipping Addresses</h1>
		</div>		
	</div>
	{% if address_list %}
		{% include 'shopping/address_list.html' %}
	{% else %}
	<div class='row'>
		<h2>No address on file.</h2>
	</div>
	{% endif %}
	<div class='row'>
		<a class="btn btn-info" href="{% url 'add-new-address'%}" role="button">Add new address</a>	
	</div>
</div>
{% endblock %}

{% block footer %}
     <script type="text/JavaScript" src="{% static 'shopping/shopping.js' %}"></script>
{% endblock %}