{% extends 'suppbuilder/base.html' %}
{% load static %}
{% load carton_tags %}
{% get_cart as cart %}
{% block head %}
    
<link rel="stylesheet" type="text/css" href="{% static 'shopping/cart.css' %}">
{% endblock %}


{% block body %}
<div class='container cart'>
    <div class='row'>
        <div class='col-lg-10 col-lg-offset-1'>
            
            <table class='table'>
                <caption>
                    <h3>Custom Supplement Stack</h3>
                </caption>
                <tr>
                    <th>Product</th>
                    <th>Serving Size</th>
                    <th>Price</th>
                    <th>Price per serving</th>
                    <th>Remove</th>
                </tr>
                {% for item in cart.items %}
                <tr>
                    <td>{{ item.product.product.title }}</td>
                    <td>{{ item.product.serving_size }}</td>
                    <td>${{item.price}}</td>
                    <td>${{item.product.thirty_day}}</td>
                    <td><input type='checkbox' class='delete-item' value='{{item.product.id}}'></input></td>
                </tr>   
                {% endfor %}
            </table>

        {% if cart.items|length > 0 %}
        <button type="button" class="btn-small btn-danger update-cart" >Update Custom Supplement Stack</button>

            <div class='row'>
                <div class='col-lg-12' id='cart-total'>
                    <h3>Total: ${{ grand_total }} <span>(${{per_serving}}/serving)</span> </h3>
                </div>
            </div> 
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-11 col-xs-11'>
            <a class="btn btn-success" id='checkout-button' href="{% url 'checkout-view' %}" role="button">Continue to checkout</a>
        </div>
    </div>
    {% else %}
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-1'>
            <h4>Oh no! Your custom stack is empty :( <a href="{% url 'energy' %}"> Build your custom supplement stack </a></h4>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block footer %}
     <script type="text/JavaScript" src="{% static 'shopping/shopping.js' %}"></script>
{% endblock %}