{% extends 'suppbuilder/base.html' %}
{% load static %}
{% load carton_tags %}
{% block head %}
    
<link rel="stylesheet" type="text/css" href="{% static 'shopping/cart.css' %}">
{% endblock %}


{% block body %}
<div class='container cart'>


    <div class='row'>
        <div class='col-lg-10 col-lg-offset-1'>
        {% get_cart as cart %}
        
            <table class='table'>
            <caption>
                <h1>Shopping Cart</h1>
            </caption>
            <tr>
                <th>Product</th>
                <th>Serving Size</th>
                <th>Price</th>
                <th>Price per serving</th>
                <th>Remove</th>
            </tr>
            {% for item in cart.items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.product.serving_size }}</td>
                <td>${{item.price}}</td>
                <td>${{item.product.thirty_day}}</td>
                <td><input type='checkbox' class='item-in' value='{{item.product.id}}'></input></td>
            </tr>   
            {% endfor %}
            </table>

            

        </div>
    </div>
    <div class='row'>
        <div class='col-lg-10' id='cart-total'>
            <h2>Total: ${{ cart.total }} </h2>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-5 col-xs-5 col-lg-offset-1'>
          <button type="button" class="btn btn-danger" id='update-cart' >Update Cart</button>
        </div>
        <div class='col-lg-5 col-cs-5'>
        <a class="btn btn-success" id='checkout-button' href="{% url 'checkout-view' %}" role="button">Continue to checkout</a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
     <script type="text/JavaScript" src="{% static 'shopping/shopping.js' %}"></script>
{% endblock %}