{% load static %}

<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if ashwagandha_match %}
            <h2>
              {{ashwagandha.title}}
              <span class='item-size' id='ashwagandha-size'>
                {{ashwagandha_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='ashwagandha-price'> 
                ${{ashwagandha_match.0.price}} (${{ashwagandha_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{ashwagandha.title}}
              <span class='item-size' id='ashwagandha-size'>
                {{ashwagandha.serving_size}}/serving
              </span>
              <span class='item-price' id='ashwagandha-price'> 
                ${{ashwagandha.cost}} (${{ashwagandha.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->
        <div class='row' id='ashwagandha-description'>
          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{ashwagandha.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in ashwagandha.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if ashwagandha_match %}
        <div class='row collapse' id='ashwagandha-options'>
      {% else %}
        <div class='row collapse in'id='ashwagandha-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='ashwagandha-select'><h4>Select serving size :</h4></label>
            
            {%if ashwagandha_match %}
              <select class='form-control selector' id="ashwagandha-select" disabled="disabled">
            {% else %}
              <select class='form-control selector' id="ashwagandha-select">
            {% endif %}

                {% for product in ashwagandha_products %}
                  {% if product.id == ashwagandha_match.0.id %}
                    <option value="{{product.id}}" data-ashwagandha-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-ashwagandha-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if ashwagandha_match %}
            <button type="button" class="btn btn-success ashwagandha-add remove">Add {{ashwagandha.title}}</button>
            <button type="button" class="btn btn-danger ashwagandha-remove" >Remove {{ashwagandha.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success ashwagandha-add">Add {{ashwagandha.title}}</button>
            <button type="button" class="btn btn-danger ashwagandha-remove remove" >Remove {{ashwagandha.title}}</button>
          {% endif %}

        </div>
      </div>
       <hr>
      <section id="about" class="bg-light-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Ashwagandha benefits</h2>
                      <h4 class="section-subheading text-muted">Ashwagandha supplementation has shown the following benefits.</h4>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Increase Power Output and Strength</h3>
                                  </div>
                                  <div class="timeline-body">
                                    <p class='text-muted'>Power Output is the ability to procure a large amount of strength in a rapid manner</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Reduce stress</h3>
                                  </div>
                                  <div class="timeline-body">
                                    <p class='text-muted'>Stress is a physical, mental, or emotional factor that causes bodily or mental tension that eventually manifests negative symptoms such as fatigue or depression</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Improve endurance and increase time to exhaustion</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Lean Mass is overall body mass minus fat mass.</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Improve anaerobic training capacity</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Decrease Fatigue</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Improve VO2 max</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Decrease Fat Mass</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Decrease Muscle Damage</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
    </div>
  </div>
</div>
<!-- end of product button row --> 