<div class='container product-container'>
<div class='panel panel-default'>
  <div class='panel-body'>
  <div class='row'>
    <div class='col-lg-12'>
      {% if caffeine_match %}
        <h2>
          {{caffeine.title}}
          <span id='caffeine-size' class='item-size' >
            {{caffeine_match.0.serving_size}}/serving
          </span>
          <span id='caffeine-price' class='item-price'> 
            ${{caffeine_match.0.price}} (${{caffeine_match.0.thirty_day}}/serving)
          </span>
        </h2>
      {% else %}
        <h2>
          {{caffeine.title}}
          <span id='caffeine-size' class='item-size'>
            {{caffeine.serving_size}}/serving
          </span>

          <span id='caffeine-price' class='item-price'> 
            ${{caffeine.price}} (${{caffeine.thirty_day}}/serving) 
          </span>
        </h2>
      {% endif %}
    </div>
  </div>




  {% if caffeine_match %}
  <div class='row collapse'id='caffeineCollapse'>
  {% else %}
  <div class='row collapse in'id='caffeineCollapse'>
  {%endif %}
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{caffeine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in caffeine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>







  {% if caffeine_match %}
  <div class='row collapse' id='selectCaffeine'>
  {% else %}
  <div class='row collapse in'id='selectCaffeine'>
  {%endif %}
    <div class='col-lg-6'>    
        <label for='caffeine-select'><h4>Select serving size :</h4></label>
        {%if caffeine_match %}
          <select id="caffeine-select" disabled="disabled">
          {% else %}
          <select id="caffeine-select">
        {% endif %}
            {% for product in caffeine_products %}
              {% if product.id == caffeine_match.0.id %}
                <option value="{{product.id}}" data-caffeine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected> {{product.title}} {{product.serving_size}}</option>
                {% else %}
                <option value="{{product.id}}" data-caffeine-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
              {% endif %}
            {% endfor %}
          </select>
    </div>

  </div>

    <div class='row'>
      <div class='col-lg-12'>
        {% if caffeine_match %}
          <button type="button" class="btn btn-success caffeine-add remove">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger caffeine-remove" >Remove {{caffeine.title}}</button>
          {% else %}
          <button type="button" class="btn btn-success caffeine-add">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger caffeine-remove remove" >Remove {{caffeine.title}}</button>
        {% endif %}
      </div>
    </div>

</div>
</div>
</div>