{% load static %}
<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if citrulline_malate_match %}
            <h2>
              {{citrulline_malate.title}}
              <span class='item-size' id='citrulline_malate-size'>
                {{citrulline_malate_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='citrulline_malate-price'> 
                ${{citrulline_malate_match.0.price}} (${{citrulline_malate_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{citrulline_malate.title}}
              <span class='item-size' id='citrulline_malate-size'>
                {{citrulline_malate.serving_size}}/serving
              </span>
              <span class='item-price' id='citrulline_malate-price'> 
                ${{citrulline_malate.cost}} (${{citrulline_malate.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->
        <div class='row' id='citrulline_malate-description'>
          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{citrulline_malate.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in citrulline_malate.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if citrulline_malate_match %}
        <div class='row collapse' id='citrulline_malate-options'>
      {% else %}
        <div class='row collapse in'id='citrulline_malate-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='citrulline_malate-select'><h4>Select serving size :</h4></label>
            
            {%if citrulline_malate_match %}
              <select class='form-control selector' id="citrulline_malate-select" disabled="disabled">
            {% else %}
              <select class='form-control selector' id="citrulline_malate-select">
            {% endif %}

                {% for product in citrulline_malate_products %}
                  {% if product.id == citrulline_malate_match.0.id %}
                    <option value="{{product.id}}" data-citrulline_malate-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-citrulline_malate-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>
          {% if citrulline_malate_match %}
            <button type="button" class="btn btn-success citrulline_malate-add remove">Add {{citrulline_malate.title}}</button>
            <button type="button" class="btn btn-danger citrulline_malate-remove" >Remove {{citrulline_malate.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success citrulline_malate-add">Add {{citrulline_malate.title}}</button>
            <button type="button" class="btn btn-danger citrulline_malate-remove remove" >Remove {{citrulline_malate.title}}</button>
          {% endif %}
        </div>
      </div>
        <hr>
      <section id="about" class="bg-light-gray">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Citrulline-Malate benefits</h2>
                      <h4 class="section-subheading text-muted">Creatine supplementation has shown the following benefits.</h4>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Decrease muscle soreness</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Anaerobic capacity is the maximal work performed during maximum-intensity short-term physical effort such as weightlifting, HIIT, and sprinting.  </p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Increase Nitric Oxide</h3>
                                  </div>
                                  <div class="timeline-body">
                                    <p class='text-muted'>Nitric Oxide is typically refered to as NO. it is formed from Nitrogen and Oxygen. Play an important role as a vasodilator and increases blood flow to tissues.</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Decrease Fatigue during exercise</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Lean Mass is overall body mass minus fat mass.</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Increase Training Volume</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h3>Increase Blood Flow</h3>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-muted">Muscular endurance tends to refer to the capacities of a muscle tissue to continuously exert itself during one 'set' of exercises</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
    </div>
  </div>
</div>

<!-- end of product button row -->    