<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if cordyceps_match %}
            <h2>
              {{cordyceps.title}}
              <span class='item-size' id='cordyceps-size'>
                {{cordyceps_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='cordyceps-price'> 
                ${{cordyceps_match.0.price}} (${{cordyceps_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{cordyceps.title}}
              <span class='item-size' id='cordyceps-size'>
                {{cordyceps.serving_size}}/serving
              </span>
              <span class='item-price' id='cordyceps-price'> 
                ${{cordyceps.cost}} (${{cordyceps.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if cordyceps_match %}
        <div class='row collapse ' id='cordyceps-description'>
      {% else %}
        <div class='row collapse in' id='cordyceps-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{cordyceps.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in cordyceps.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if cordyceps_match %}
        <div class='row collapse' id='cordyceps-options'>
      {% else %}
        <div class='row collapse in'id='cordyceps-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='cordyceps-select'><h4>Select serving size :</h4></label>
            
            {%if cordyceps_match %}
              <select  id="cordyceps-select" disabled="disabled">
            {% else %}
              <select  id="cordyceps-select">
            {% endif %}

                {% for product in cordyceps_products %}
                  {% if product.id == cordyceps_match.0.id %}
                    <option value="{{product.id}}" data-cordyceps-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-cordyceps-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if cordyceps_match %}
            <button type="button" class="btn btn-success cordyceps-add remove">Add {{cordyceps.title}}</button>
            <button type="button" class="btn btn-danger cordyceps-remove" >Remove {{cordyceps.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success cordyceps-add">Add {{cordyceps.title}}</button>
            <button type="button" class="btn btn-danger cordyceps-remove remove" >Remove {{cordyceps.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row --> 