{% extends 'suppbuilder/base.html' %}
{% load static %}
{% load carton_tags %}
{% block head %}
    
<link rel="stylesheet" type="text/css" href="{% static 'products/product.css' %}">
{% endblock %}

{% block body %}


<!--  JUMBO TRON -->
<div class='container'>
    <div class="jumbotron" id="product-jumbo">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
</div>

<!-- Caffeine product container -->
<div class='container product-container'>
  <div class='row'>
    <div class='col-lg-6'>
      {% if caffeine_match %}
      <h2>
        {{caffeine.title}} <span id='caffeine-price'> $ {{ caffeine_match.price }}</span>
      </h2>
      {% else %}
      <h2>
        {{caffeine.title}} <span id='caffeine-price'> </span>
      </h2>
      {% endif %}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{caffeine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in caffeine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6'>    
      {% if caffeine_match %}
        <label for='Caffeine-select'><h4>Select serving size :</h4></label>
          <select id="Caffeine-select" class="Caffeine-select" disabled>
            {% for product in caffeine_products %}
              {% if product.id == caffeine_match.id %}
                <option value="{{caffeine_match.id}}" data-caffeine-price='{{caffeine_match.price}}' selected> {{caffeine_match.title}} {{caffeine_match.serving_size}}</option>
                {% else %}
                <option value="{{product.id}}" data-caffeine-price="{{product.price}}"> {{product.title}} {{product.serving_size}} </option>
              {% endif %}
            {% endfor %}
          </select>
      {% else %}
        <label for='Caffeine-select'><h4>Select serving size :</h4></label>
          <select id="Caffeine-select" class="Caffeine-select">
            {% for product in caffeine_products %}
              <option value="{{product.id}}" data-caffeine-price="{{product.price}}"> {{product.title}} {{product.serving_size}}</option>
            {% endfor %}
          </select> 
      {% endif %}
    </div>
  </div>
    <div class='row'>
      <div class='col-lg-12'>
        {% if caffeine_match %}
          <button type="button" class="btn btn-success Caffeine-add remove">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger Caffeine-remove" >Remove {{caffeine.title}}</button>
          {% else %}
          <button type="button" class="btn btn-success Caffeine-add">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger Caffeine-remove remove" >Remove {{caffeine.title}}</button>
        {% endif %}
      </div>
    </div>
</div>

<!-- Theanine product container -->
<div class='container product-container'>
  <div class='row'>
    <div class='col-lg-6'>
      {% if theanine_match %}
      <h2>
        {{theanine.title}} <span id='theanine-price'> $ {{ theanine_match.price }}</span>
      </h2>
      {% else %}
      <h2>
        {{theanine.title}} <span id='theanine-price'> </span>
      </h2>
      {% endif %}
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{theanine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in theanine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6'>    
      {% if theanine_match %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select id="theanine-select" class="theanine-select" disabled>
            {% for product in theanine_products %}
              {% if variation.id == theanine_match.id %}
                <option value="{{theanine_match.id}}" data-caffeine-price='{{theanine_match.price}}' selected> {{theanine_match.title}} {{theanine_match.serving_size}} </option>
                {% else %}
                <option value="{{product.id}}" data-caffeine-price="{{product.price}}"> {{product.title}} {{product.serving_size}} </option>
              {% endif %}
            {% endfor %}
          </select>
      {% else %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select id="theanine-select" class="theanine-select">
            {% for product in theanine_products %}
              <option value="{{product.id}}" data-theanine-price="{{product.price}}"> {{product.title}} {{product.serving_size}}</option>
            {% endfor %}
          </select> 
      {% endif %}
    </div>
  </div>
    <div class='row'>
      <div class='col-lg-12'>
        {% if theanine_match %}
          <button type="button" class="btn btn-success theanine-add remove">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove" >Remove {{theanine.title}}</button>
          {% else %}
          <button type="button" class="btn btn-success theanine-add">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove remove" >Remove {{theanine.title}}</button>
        {% endif %}
      </div>
    </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-lg-6'>
        <button type="button" class="btn btn-danger theanine-remove remove" >Remove {{theanine.title}}</button>
    </div>
  </div>
</div>

<!-- RESEARCH CONTAINER -->
<div class='container research-container'>
    <h1>Research</h1>
    <div class='row'>
      <div class='col-lg-12'>
        <h3>Caffeine Research</h3>
        {% for research in caffeine_research %}

        <p> {{research}} <p>

        {% endfor %}
      </div>
  </div>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/JavaScript" src="{% static 'products/products.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--     / <script src="js/bootstrap.min.js"></script> -->
{% endblock %}