{% extends 'suppbuilder/base.html' %}
{% load static %}
{% load carton_tags %}
{% block head %}
    
<link rel="stylesheet" type="text/css" href="{% static 'products/product.css' %}">
{% endblock %}

{% block body %}


<!--  JUMBO TRON -->
<div class='container'>
    <div class="jumbotron" id="product-jumbo">
      <div class="container">
        <h1>Energy supplements</h1>
        <p>Research has shown that these supplements may increase energy in addition to other benefits. Select the ingredients you would like added to your customized dietary supplement. </p>
      </div>
    </div>
</div>


<!-- Caffeine product container -->
<div class='container product-container'>
  <div class='row'>
    <div class='col-lg-12'>
      {% if caffeine_match %}
        <h2>
          {{caffeine.title}}
          <span id='caffeine-size'>
            {{caffeine_match.0.serving_size}}/serving
          </span>
          <span id='caffeine-price'> 
            ${{caffeine_match.0.price}} (${{caffeine_match.0.thirty_day}}/serving)
          </span>
        </h2>
      {% else %}
        <h2>
          {{caffeine.title}}
          <span id='caffeine-size'>
            {{caffeine.serving_size}}/serving
          </span>

          <span id='caffeine-price'> 
            ${{caffeine.price}} (${{caffeine.thirty_day}}/serving) 
          </span>
        </h2>
      {% endif %}
    </div>
  </div>

  {% if caffeine_match %}
  <div class='row collapse'id='caffeineCollapse'>
  {% else %}
  <div class='row collapse in'id='caffeineCollapse'>
  {%endif %}
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{caffeine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in caffeine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>


  {% if caffeine_match %}
  <div class='row collapse' id='selectCaffeine'>
  {% else %}
  <div class='row collapse in'id='selectCaffeine'>
  {%endif %}
    <div class='col-lg-6'>    
        <label for='caffeine-select'><h4>Select serving size :</h4></label>
        {%if caffeine_match %}
          <select id="caffeine-select" class="caffeine-select" disabled="disabled">
          {% else %}
          <select id="caffeine-select" class="caffeine-select">
        {% endif %}
            {% for product in caffeine_products %}
              {% if product.id == caffeine_match.0.id %}
                <option value="{{product.id}}" data-caffeine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected> {{product.title}} {{product.serving_size}}</option>
                {% else %}
                <option value="{{product.id}}" data-caffeine-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
              {% endif %}
            {% endfor %}
          </select>
    </div>

  </div>
    <div class='row'>
      <div class='col-lg-12'>
        {% if caffeine_match %}
          <button type="button" class="btn btn-success caffeine-add remove">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger caffeine-remove" >Remove {{caffeine.title}} from stack</button>
          {% else %}
          <button type="button" class="btn btn-success caffeine-add">Add {{caffeine.title}}</button>
          <button type="button" class="btn btn-danger caffeine-remove remove" >Remove {{caffeine.title}}</button>
        {% endif %}
      </div>
    </div>
    <hr>
</div>

<!-- Theanine product container -->
<div class='container product-container'>
  <div class='row'>
    <div class='col-lg-12'>
      {% if theanine_match %}
        <h2>
          {{theanine.title}}
          <span id='theanine-size'>
            {{theanine_match.0.serving_size}}/serving
          </span>
          <span id='theanine-price'> 
            ${{theanine_match.0.price}}(${{theanine_match.0.thirty_day}}/serving)
          </span>
        </h2>
      {% else %}
        <h2>
          {{theanine.title}}
          <span id='theanine-size'>
            {{theanine.serving_size}}/serving
          </span>

          <span id='theanine-price'> 
            ${{theanine.price}} (${{theanine.thirty_day}}/serving) 
          </span>
        </h2>
      {% endif %}
    </div>
  </div>

  {% if theanine_match %}
  <div class='row collapse'id='theanineCollapse'>
  {% else %}
  <div class='row collapse in'id='theanineCollapse'>
  {%endif %}
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{theanine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in theanine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>


    {% if theanine_match %}
    <div class='row collapse' id='selectTheanine'>
      {% else %}
    <div class='row collapse in'id='selectTheanine'>
    {%endif %}
    <div class='col-lg-6'>    
      {% if theanine_match %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select id="theanine-select" class="theanine-select" disabled>
            {% for product in theanine_products %}
              {% if product.id == theanine_match.0.id %}
                <option value="{{product.id}}" data-theanine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected> {{theanine_match.0.title}} {{theanine_match.0.serving_size}} </option>
                {% else %}
                <option value="{{product.id}}" data-theanine-price="{{product.price}}" data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}} </option>
              {% endif %}
            {% endfor %}
          </select>
      {% else %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select id="theanine-select" class="theanine-select">
            {% for product in theanine_products %}
              <option value="{{product.id}}" data-theanine-price="{{product.price}}"data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
            {% endfor %}
          </select> 
      {% endif %}
    </div>
  </div>
    <div class='row'>
      <div class='col-lg-12'>
        {% if theanine_match %}
          <button type="button" class="btn btn-success theanine-add remove">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove" >Remove {{theanine.title}}</button>
          {% else %}
          <button type="button" class="btn btn-success theanine-add">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove remove" >Remove {{theanine.title}}</button>
        {% endif %}
      </div>
    </div>
    <hr>
</div>

<div class='container nav-buttons'>
  <div class='row'>
    <div class='col-lg-6 col-xs-6'>
      <a class="btn btn-link backward" href="/shopping/show/" role="button"> << Go Back</a>

    </div>
    <div class='col-lg-6 col-xs-6'>

      <a class="btn btn-link forward" href="/shopping/show/" role="button">Continue >></a>
    </div>
  </div>
</div>
<hr>
<!-- RESEARCH CONTAINER -->
<div class='container research-container'>

    <div class='row'>
      <div class='col-lg-12 col-xs-12'>
          <h1>Research</h1>
          <div class='row'>
            <div class='col-lg-12 col-xs-12'>
              <h3>Caffeine Research</h3>
              {% for research in caffeine_research %}
                <a href="{{research.research_article}}" target="_blanks">{{research}} </a>
              {% endfor %}
              <h3>Theanine Research</h3>
              {% for research in theanine_research %}
                <a href="{{research.research_article}}" target="_blanks">{{research}} </a>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
</div>



{% endblock %}

{% block footer %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/JavaScript" src="{% static 'products/products.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
{% endblock %}

