<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>
  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if hmb_match %}
            <h2>
              {{hmb.title}}
              <span class='item-size' id='hmb-size'>
                {{hmb_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='hmb-price'> 
                ${{hmb_match.0.price}} (${{hmb_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{hmb.title}}
              <span class='item-size' id='hmb-size'>
                {{hmb.serving_size}}/serving
              </span>
              <span class='item-price' id='hmb-price'> 
                ${{hmb.cost}} (${{hmb.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if hmb_match %}
        <div class='row collapse ' id='hmb-description'>
      {% else %}
        <div class='row collapse in' id='hmb-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{hmb.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in hmb.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if hmb_match %}
        <div class='row collapse' id='hmb-options'>
      {% else %}
        <div class='row collapse in'id='hmb-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='hmb-select'><h4>Select serving size :</h4></label>
            
            {%if hmb_match %}
              <select  id="hmb-select" disabled="disabled">
            {% else %}
              <select  id="hmb-select">
            {% endif %}

                {% for product in hmb_products %}
                  {% if product.id == hmb_match.0.id %}
                    <option value="{{product.id}}" data-hmb-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-hmb-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if hmb_match %}
            <button type="button" class="btn btn-success hmb-add remove">Add {{hmb.title}}</button>
            <button type="button" class="btn btn-danger hmb-remove" >Remove {{hmb.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success hmb-add">Add {{hmb.title}}</button>
            <button type="button" class="btn btn-danger hmb-remove remove" >Remove {{hmb.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row --> 