{% load static %}
<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if acetyl_l_carnitine_match %}
            <h2>
              {{acetyl_l_carnitine.title}}
              <span class='item-size' id='acetyl_l_carnitine-size'>
                {{acetyl_l_carnitine_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='acetyl_l_carnitine-price'> 
                ${{acetyl_l_carnitine_match.0.price}} (${{acetyl_l_carnitine_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{acetyl_l_carnitine.title}}
              <span class='item-size' id='acetyl_l_carnitine-size'>
                {{acetyl_l_carnitine.serving_size}}/serving
              </span>
              <span class='item-price' id='acetyl_l_carnitine-price'> 
                ${{acetyl_l_carnitine.cost}} (${{acetyl_l_carnitine.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

        <div class='row' id='acetyl_l_carnitine-description'>
          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{acetyl_l_carnitine.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in acetyl_l_carnitine.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if acetyl_l_carnitine_match %}
        <div class='row collapse' id='acetyl_l_carnitine-options'>
      {% else %}
        <div class='row collapse in'id='acetyl_l_carnitine-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='acetyl_l_carnitine-select'><h4>Select serving size :</h4></label>
            
            {%if acetyl_l_carnitine_match %}
              <select class='form-control selector' id="acetyl_l_carnitine-select" disabled="disabled">
            {% else %}
              <select class='form-control selector' id="acetyl_l_carnitine-select">
            {% endif %}

                {% for product in acetyl_l_carnitine_products %}
                  {% if product.id == acetyl_l_carnitine_match.0.id %}
                    <option value="{{product.id}}" data-acetyl_l_carnitine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-acetyl_l_carnitine-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>
          {% if acetyl_l_carnitine_match %}
            <button type="button" class="btn btn-success acetyl_l_carnitine-add remove">Add {{acetyl_l_carnitine.title}}</button>
            <button type="button" class="btn btn-danger acetyl_l_carnitine-remove" >Remove {{acetyl_l_carnitine.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success acetyl_l_carnitine-add">Add {{acetyl_l_carnitine.title}}</button>
            <button type="button" class="btn btn-danger acetyl_l_carnitine-remove remove" >Remove {{acetyl_l_carnitine.title}}</button>
          {% endif %}
        </div>
      </div>
      <hr>
          <section id="about" class="bg-light-gray">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                          <h2 class="section-heading">Acetyl-L Carnitine Benefits</h2>
                          <h4 class="section-subheading text-muted">Clinical resarch on Acetyl-L Carnitine supplementation has shown the following benefits.</h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <ul class="timeline">
                              <li>
                                  <div class="timeline-panel">
                                      <div class="timeline-heading">
                                          <h3>Decrease Fat mass</h3>
                                      </div>
                                      <div class="timeline-body">
                                        <p class='text-muted'>Fat mass is is simply the percentage of fat your body contains</p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="timeline-panel">
                                      <div class="timeline-heading">
                                          <h3>Decrease mental and physical fatigue</h3>
                                      </div>
                                      <div class="timeline-body">
                                          <p class="text-muted">Fatigue is the lack motivation, energy and vitality.</p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="timeline-panel">
                                      <div class="timeline-heading">
                                          <h3>Decrease lactate production</h3>
                                      </div>
                                      <div class="timeline-body">
                                          <p class="text-muted">Lactate can be produced during prolonged exercise, and while it is not thought to contribute to muscular failure it seems to be a good biomarker of it. Reductions in lactate production tend to be associated with prolonged physical endurance.</p>
                                      </div>
                                  </div>
                              </li>
                              <li>
                                  <div class="timeline-panel">
                                      <div class="timeline-heading">
                                          <h3>Decrease muscle damage</h3>
                                      </div>
                                      <div class="timeline-body">
                                          <p class="text-muted">Muscle damage refers to the breaking of muscle tissue during exercise. Reducing muscle damage may alleviate soreness from exercise.</p>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </section>
    </div>
  </div>
</div>

<!-- end of product button row --> 
