<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if rhodiola_rosea_match %}
            <h2>
              {{rhodiola_rosea.title}}
              <span class='item-size' id='rhodiola_rosea-size'>
                {{rhodiola_rosea_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='rhodiola_rosea-price'> 
                ${{rhodiola_rosea_match.0.price}} (${{rhodiola_rosea_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{rhodiola_rosea.title}}
              <span class='item-size' id='rhodiola_rosea-size'>
                {{rhodiola_rosea.serving_size}}/serving
              </span>
              <span class='item-price' id='rhodiola_rosea-price'> 
                ${{rhodiola_rosea.cost}} (${{rhodiola_rosea.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if rhodiola_rosea_match %}
        <div class='row collapse ' id='rhodiola_rosea-description'>
      {% else %}
        <div class='row collapse in' id='rhodiola_rosea-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{rhodiola_rosea.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in rhodiola_rosea.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if rhodiola_rosea_match %}
        <div class='row collapse' id='rhodiola_rosea-options'>
      {% else %}
        <div class='row collapse in'id='rhodiola_rosea-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='rhodiola_rosea-select'><h4>Select serving size :</h4></label>
            
            {%if rhodiola_rosea_match %}
              <select  id="rhodiola_rosea-select" disabled="disabled">
            {% else %}
              <select  id="rhodiola_rosea-select">
            {% endif %}

                {% for product in rhodiola_rosea_products %}
                  {% if product.id == rhodiola_rosea_match.0.id %}
                    <option value="{{product.id}}" data-rhodiola_rosea-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-rhodiola_rosea-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if rhodiola_rosea_match %}
            <button type="button" class="btn btn-success rhodiola_rosea-add remove">Add {{rhodiola_rosea.title}}</button>
            <button type="button" class="btn btn-danger rhodiola_rosea-remove" >Remove {{rhodiola_rosea.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success rhodiola_rosea-add">Add {{rhodiola_rosea.title}}</button>
            <button type="button" class="btn btn-danger rhodiola_rosea-remove remove" >Remove {{rhodiola_rosea.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row --> 
