{% load static %}
<!-- Theanine product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>
  <div class='row'>
    <div class='col-lg-12'>
      {% if theanine_match %}
        <h2>
          {{theanine.title}}
          <span id='theanine-size' class='item-size'>
            {{theanine_match.0.serving_size}}/serving
          </span>
          <span id='theanine-price' class='item-price'> 
            ${{theanine_match.0.price}} (${{theanine_match.0.thirty_day}}/serving)
          </span>
        </h2>
      {% else %}
        <h2>
          {{theanine.title}}
          <span id='theanine-size' class='item-size'>
            {{theanine.serving_size}}/serving
          </span>

          <span id='theanine-price' class='item-price'> 
            ${{theanine.price}} (${{theanine.thirty_day}}/serving) 
          </span>
        </h2>
      {% endif %}
    </div>
  </div>


  <div class='row' id='theanineCollapse'>
    <div class='col-lg-8'>
      <h5>Product description</h5>
      <p>{{theanine.description}}</p>
    </div>
    <div class='col-lg-4'>
      <h5>Key Benefits</h5>
        <ul>
          {% for benefit in theanine.benefits.all %}
            <li>{{benefit}}</li>  
          {% endfor %}
        </ul>
    </div>
  </div>


    {% if theanine_match %}
    <div class='row collapse' id='selectTheanine'>
      {% else %}
    <div class='row collapse in'id='selectTheanine'>
    {%endif %}
    <div class='col-lg-6'>    
      {% if theanine_match %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select id="theanine-select" class="theanine-select" disabled>
            {% for product in theanine_products %}
              {% if product.id == theanine_match.0.id %}
                <option value="{{product.id}}" data-theanine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected> {{theanine_match.0.title}} {{theanine_match.0.serving_size}} </option>
                {% else %}
                <option value="{{product.id}}" data-theanine-price="{{product.price}}" data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}} </option>
              {% endif %}
            {% endfor %}
          </select>
      {% else %}
        <label for='theanine-select'><h4>Select serving size :</h4></label>
          <select class='form-control selector' id="theanine-select" class="theanine-select">
            {% for product in theanine_products %}
              <option value="{{product.id}}" data-theanine-price="{{product.price}}"data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
            {% endfor %}
          </select> 
      {% endif %}
    </div>
  </div>
    <div class='row'>
      <div class='col-lg-12'>
        {% if theanine_match %}
          <button type="button" class="btn btn-success theanine-add remove">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove" >Remove {{theanine.title}}</button>
          {% else %}
          <button type="button" class="btn btn-success theanine-add">Add {{theanine.title}}</button>
          <button type="button" class="btn btn-danger theanine-remove remove" >Remove {{theanine.title}}</button>
        {% endif %}
      </div>
    </div>
    <hr>
        <section id="about" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Theanine Benefits</h2>
                        <h4 class="section-subheading text-muted">Clinical resarch on Theanine supplementation has shown the following benefits.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3>Enhances the benefits of caffeine</h3>
                                    </div>
                                    <div class="timeline-body">
                                      <p class='text-muted'>Power Output is the ability to procure a large amount of strength in a rapid manner</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3>Helps reduce side effects of caffeine</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Anaerobic capacity is the maximal work performed during maximum-intensity short-term physical effort such as weightlifting, HIIT, and sprinting.  </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h3>Decrease anxiety</h3>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Aerobic exercise refers to cardiovascular exercise that can be performaned for a prolonged period of time such as running, cycling, and swimming laps.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    <div class='container research-container'>
        <div class='row'>
          <div class='col-lg-12 col-xs-12'>
              <h1>Caffeine Research</h1>
              <div class='row'>
                <div class='col-lg-12 col-xs-12'>
                  <h3>Power output</h3>

                  {% for research in caffeine_research %}
                    {% if research.product_effect == "Power Output" %}
                      <p><a href="{{research.research_article}}" target="_blanks">{{research}} </a></p>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>