{% extends 'suppbuilder/base.html' %}
{% load static %}
{% load carton_tags %}
{% block head %}
    
<link rel="stylesheet" type="text/css" href="{% static 'products/product.css' %}">
{% endblock %}

{% block body %}


<!--  JUMBO TRON -->
<div class='container'>

<ol class="breadcrumb">
  <li class="active">Multivitamin</li>
  <li><a href="{% url 'energy' %}">Pre-workout</a></li>
  <li><a href="#">Protein</a></li>
</ol>    
    <div class="jumbotron">
      <div class="container">
        <h1>Multivitamin Pack</h1>
        <h2><small> Select the vitamins and minerals you want included in your custom multivitamin pack. </small></h2>
        <hr>
      </div>
    </div>
</div>

<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if vitamin_c_match %}
            <h2>
              {{vitamin_c.title}}
              <span class='item-size' id='vitamin_c-size'>
                {{vitamin_c_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='vitamin_c-price'> 
                ${{vitamin_c_match.0.price}} (${{vitamin_c_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{vitamin_c.title}}
              <span class='item-size' id='vitamin_c-size'>
                {{vitamin_c.serving_size}}/serving
              </span>
              <span class='item-price' id='vitamin_c-price'> 
                ${{vitamin_c.cost}} (${{vitamin_c.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if vitamin_c_match %}
        <div class='row collapse ' id='vitamin_c-description'>
      {% else %}
        <div class='row collapse in' id='vitamin_c-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{vitamin_c.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in vitamin_c.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if vitamin_c_match %}
        <div class='row collapse' id='vitamin_c-options'>
      {% else %}
        <div class='row collapse in'id='vitamin_c-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='vitamin_c-select'><h4>Select serving size :</h4></label>
            
            {%if vitamin_c_match %}
              <select  id="vitamin_c-select" disabled="disabled">
            {% else %}
              <select  id="vitamin_c-select">
            {% endif %}

                {% for product in vitamin_c_products %}
                  {% if product.id == vitamin_c_match.0.id %}
                    <option value="{{product.id}}" data-vitamin_c-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-vitamin_c-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if vitamin_c_match %}
            <button type="button" class="btn btn-success vitamin_c-add remove">Add {{vitamin_c.title}}</button>
            <button type="button" class="btn btn-danger vitamin_c-remove" >Remove {{vitamin_c.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success vitamin_c-add">Add {{vitamin_c.title}}</button>
            <button type="button" class="btn btn-danger vitamin_c-remove remove" >Remove {{vitamin_c.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row -->


<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if vitamin_d_match %}
            <h2>
              {{vitamin_d.title}}
              <span class='item-size' id='vitamin_d-size'>
                {{vitamin_d_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='vitamin_d-price'> 
                ${{vitamin_d_match.0.price}} (${{vitamin_d_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{vitamin_d.title}}
              <span class='item-size' id='vitamin_d-size'>
                {{vitamin_d.serving_size}}/serving
              </span>
              <span class='item-price' id='vitamin_d-price'> 
                ${{vitamin_d.cost}} (${{vitamin_d.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if vitamin_d_match %}
        <div class='row collapse ' id='vitamin_d-description'>
      {% else %}
        <div class='row collapse in' id='vitamin_d-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{vitamin_d.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in vitamin_d.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if vitamin_d_match %}
        <div class='row collapse' id='vitamin_d-options'>
      {% else %}
        <div class='row collapse in'id='vitamin_d-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='vitamin_d-select'><h4>Select serving size :</h4></label>
            
            {%if vitamin_d_match %}
              <select  id="vitamin_d-select" disabled="disabled">
            {% else %}
              <select  id="vitamin_d-select">
            {% endif %}

                {% for product in vitamin_d_products %}
                  {% if product.id == vitamin_d_match.0.id %}
                    <option value="{{product.id}}" data-vitamin_d-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-vitamin_d-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if vitamin_d_match %}
            <button type="button" class="btn btn-success vitamin_d-add remove">Add {{vitamin_d.title}}</button>
            <button type="button" class="btn btn-danger vitamin_d-remove" >Remove {{vitamin_d.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success vitamin_d-add">Add {{vitamin_d.title}}</button>
            <button type="button" class="btn btn-danger vitamin_d-remove remove" >Remove {{vitamin_d.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row -->

<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if fish_oil_match %}
            <h2>
              {{fish_oil.title}}
              <span class='item-size' id='fish_oil-size'>
                {{fish_oil_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='fish_oil-price'> 
                ${{fish_oil_match.0.price}} (${{fish_oil_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{fish_oil.title}}
              <span class='item-size' id='fish_oil-size'>
                {{fish_oil.serving_size}}/serving
              </span>
              <span class='item-price' id='fish_oil-price'> 
                ${{fish_oil.cost}} (${{fish_oil.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if fish_oil_match %}
        <div class='row collapse ' id='fish_oil-description'>
      {% else %}
        <div class='row collapse in' id='fish_oil-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{fish_oil.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in fish_oil.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if fish_oil_match %}
        <div class='row collapse' id='fish_oil-options'>
      {% else %}
        <div class='row collapse in'id='fish_oil-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='fish_oil-select'><h4>Select serving size :</h4></label>
            
            {%if fish_oil_match %}
              <select  id="fish_oil-select" disabled="disabled">
            {% else %}
              <select  id="fish_oil-select">
            {% endif %}

                {% for product in fish_oil_products %}
                  {% if product.id == fish_oil_match.0.id %}
                    <option value="{{product.id}}" data-fish_oil-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-fish_oil-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if fish_oil_match %}
            <button type="button" class="btn btn-success fish_oil-add remove">Add {{fish_oil.title}}</button>
            <button type="button" class="btn btn-danger fish_oil-remove" >Remove {{fish_oil.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success fish_oil-add">Add {{fish_oil.title}}</button>
            <button type="button" class="btn btn-danger fish_oil-remove remove" >Remove {{fish_oil.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row -->

<!--  product container -->
<div class='container product-container'>
  <div class='panel panel-default'>
    <div class='panel-body'>

  <!-- product title, serving size, and price row -->
      <div class='row'>
        <div class='col-lg-12'>
          
          {% if glucosamine_match %}
            <h2>
              {{glucosamine.title}}
              <span class='item-size' id='glucosamine-size'>
                {{glucosamine_match.0.serving_size}}/serving
              </span>
              <span class='item-price' id='glucosamine-price'> 
                ${{glucosamine_match.0.price}} (${{glucosamine_match.0.thirty_day}}/serving)
              </span>
            </h2>
          {% else %}
            <h2>
              {{glucosamine.title}}
              <span class='item-size' id='glucosamine-size'>
                {{glucosamine.serving_size}}/serving
              </span>
              <span class='item-price' id='glucosamine-price'> 
                ${{glucosamine.cost}} (${{glucosamine.thirty_day}}/serving) 
              </span>
            </h2>
          {% endif %}

        </div>
      </div>


<!-- description of product -->

      {% if glucosamine_match %}
        <div class='row collapse ' id='glucosamine-description'>
      {% else %}
        <div class='row collapse in' id='glucosamine-description'>
      {%endif %}

          <div class='col-lg-8'>
            <h5>Product description</h5>
            <p>{{glucosamine.description}}</p>
          </div>

          <div class='col-lg-4'>
            <h5>Key Benefits</h5>
            <ul>

              {% for benefit in glucosamine.benefits.all %}
                <li>{{benefit}}</li>  
              {% endfor %}

            </ul>
          </div>
        </div>

<!-- start of product select -->

      {% if glucosamine_match %}
        <div class='row collapse' id='glucosamine-options'>
      {% else %}
        <div class='row collapse in'id='glucosamine-options'>
      {%endif %}
        
        <div class='col-lg-6'>    
            <label for='glucosamine-select'><h4>Select serving size :</h4></label>
            
            {%if glucosamine_match %}
              <select  id="glucosamine-select" disabled="disabled">
            {% else %}
              <select  id="glucosamine-select">
            {% endif %}

                {% for product in glucosamine_products %}
                  {% if product.id == glucosamine_match.0.id %}
                    <option value="{{product.id}}" data-glucosamine-price='{{product.price}}' data-serving-size='{{product.serving_size}}' selected>{{product.title}} {{product.serving_size}}</option>
                    {% else %}
                    <option value="{{product.id}}" data-glucosamine-price='{{product.price}}'data-serving-size='{{product.serving_size}}'> {{product.title}} {{product.serving_size}}</option>
                  {% endif %}
                {% endfor %}
              </select>
        </div>
      </div>

<!-- start of product button row -->
      <div class='row'>
        <div class='col-lg-12'>

          {% if glucosamine_match %}
            <button type="button" class="btn btn-success glucosamine-add remove">Add {{glucosamine.title}}</button>
            <button type="button" class="btn btn-danger glucosamine-remove" >Remove {{glucosamine.title}}</button>
            {% else %}
            <button type="button" class="btn btn-success glucosamine-add">Add {{glucosamine.title}}</button>
            <button type="button" class="btn btn-danger glucosamine-remove remove" >Remove {{glucosamine.title}}</button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>
</div>

<!-- end of product button row -->


<div class='container'>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><a href="{% url 'energy' %}"><span aria-hidden="true">&larr;</span> Older</a></li>
          <li class="next"><a href="{% url 'energy' %}">Build a pre workout <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<hr>
<!-- RESEARCH CONTAINER -->
<div class='container research-container'>

    <div class='row'>
      <div class='col-lg-12 col-xs-12'>
          <h1>Research</h1>
          <div class='row'>
            <div class='col-lg-12 col-xs-12'>
              <h3>Vitamin C Research</h3>
              {% for research in vitamin_c_research %}
                <a href="{{research.research_article}}" target="_blanks">{{research}} </a>
              {% endfor %}
              <h3>Vitamin D Research</h3>
              {% for research in vitamin_d_research %}
                <a href="{{research.research_article}}" target="_blanks">{{research}} </a>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
</div>



{% endblock %}

{% block footer %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/JavaScript" src="{% static 'products/vitamin.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
{% endblock %}
