{% extends 'suppbuilder/base.html' %}
{% load static %}
{% block head %}
    
{% endblock %}

{% block body %}


<section class="welcome-image">
  <div class="container">
    <div class="row welcome-text">
      <div class="col-lg-12">
        <h1>Custom pre-workout made by you</h1>
        <a class="btn btn-lg btn-default" href="{% url 'energy' %}" role="button">Build yours now</a>
      </div>
    </div> 
  </div>
</section>


<section class="how-does-it-work steps">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-title heading">How supplements should be done</h2>
              </div>
            </div>
            <div class="row js--wp-1 text-center">
              <div class="row">
                <div class="col-md-4">
                    <i class="ion-android-checkmark-circle icon-large"></i>
                    <h3 class="service-heading">1. Choose your supplements</h3>
                    <p class="text-muted">You get to pick what supplements you want in your custom supplement stack! No more pre made blends filled with ingredients that you dont want or need. You're welcome.</p>
                </div>
                <div class="col-md-4">
                    <i class="ion-happy-outline icon-large"></i>
                    <h3 class="service-heading">2. No underdosed ingredients</h3>
                    <p class="text-muted">The serving size of each supplement you choose will only be provided at a dose amount that has been shown to be effective in clinical research. We won't underdose an ingredient just so we can place it on a label.</p>
                </div>
                <div class="col-md-4">
                     <i class="ion-ios-pause-outline icon-large"></i>
                    <h3 class="service-heading">3. Stick Packaging</h3>
                    <p class="text-muted">Each ingredient you select in your custom supplement pack will come in a 30 day supply already weighed out and packaged into convenient stick packages. No more weighing out ingredients, no more inefficient scoop sizes and powder all over the kitchen counter.</p>
                </div>
               </div>
               <div class="row">
                <div class="col-md-4">
                    <i class="ion-ios-flask-outline icon-large"></i>
                    <h3 class="service-heading">4. Research backed ingredients</h3>
                    <p class="text-muted">We only offer supplements that have been tested in human trials and have proof of effectiveness. We don't use research done in test tubes or lab rats to sell our products.  You're a human!</p>
                </div>
                <div class="col-md-4">
                    <i class="ion-ribbon-b icon-large"></i>
                    <h3 class="service-heading">4. Third party tested</h3>
                    <p class="text-muted">Our ingredients are third party tested to make sure you get exactly what you want and precisely what you paid for. We even give you a copy of the test results.</p>
                </div>
                <div class="col-md-4">
                    <i class="ion-leaf icon-large"></i>  
                    <h3 class="service-heading">5. Organic flavor powders</h3>
                    <p class="text-muted">Our ingredients come unflavored. We understand everybody has their own rituals when it comes to taking supplements. You can take them raw, like a savage, or pick from our organic flavor powders we sweeten with stevia.</p>
                </div>
              </div>
            </div>
        </div>
</section>


<section class="mission-statement steps">
  <div class="container">
      <div class="col-lg-12 text-center">
        <h2 class='section-title'>Suppbuilders Mission:</h2>
        <h3 class='section-title heading'>change the supplement industry</h3>
        <img class='js--wp-2' src="{% static 'suppbuilder/images/suppbuilder-logo-grey.png' %}">
        <p>Suppbuilder wants to bring change to the supplement industry, starting with pre workout supplements. We understand that your health and fitness goals are important to you and we think the supplement industry has done a terrible job supporting you. It's time to stop the supplement industry from taking advantage of your goals and stealing your hard earned money by underdosing ingredients good ingredients, using ineffective ingredients as fillers and using proprietary blends to hide their dishonesty. Nobody should prevent you from being a better version of yourself. Here is how we plan on fixing the supplement industry.</p>
      </div>    
  </div>
</section>
{% endblock %}
